body {
    font-family: Arial, sans-serif;
    background-image: url(https://img.freepik.com/free-photo/green-park-view_1417-1487.jpg?w=1380&t=st=1689583559~exp=1689584159~hmac=0a63c013c27d95c7cc23d754cc8bd8fea9a1b332fda01e19dc4468b3934fd582);
  }
  
  .container {
    max-width: 400px;
    margin: 50px auto;
    padding-right: 200px;
    padding-left: 70px;
    padding-top: 70px;
    padding-bottom: 60px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-image: url(https://wallpaperaccess.com/full/684837.jpg);
    position: relative;
    background-size: cover;
    border: 2px solid aqua;
  }
  
  h2 {
    text-align: center;
    margin-top: 50px;
    color: #333;
    
  }
  
  h2:hover{
    color: rgb(252, 151, 9);
    scale: 1.2;
    transition-duration: 0.5s;
    
  }
  .input-container {
    background-image: url(https://wallpaperaccess.com/full/684821.jpg);
    position: relative;
    background-size: cover;
    width: 100%;
    padding-right: 70px;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid orange;
    position: relative;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
    text-transform: uppercase;
    cursor: pointer;
  }
  
  label {
    display: block;
    margin-bottom: 15px;
    color: white;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="number"]:focus {
    outline: none;
    border-color: #6e8eff;
  }
  
  input::placeholder {
    color: #aaa;
  }
  
  